:root{
    --main-color: rgb(166, 162, 149);
    --secondary-color: rgb(125, 140, 139);
    --tertiary-color: rgb(0, 0, 0);
    --fourth-color:rgb(255, 239, 253);
    --font: Arial, Helvetica, sans-serif;
}

body{
    font-family: var(--font);
    font-size: 17px;
}

#header-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: var(--main-color);
    color: var(--fourth-color);
    padding: 1%;
    min-height: 150px;
}

#header-main nav ul{
    display:flex;
    justify-content: space-between;
    min-width: 270px;
}

#header-main nav ul li a{
    color: var(--fourth-color);
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}

#header-main h1{
    font-size: 50px;
}

.other-headers{
    text-align: center;
    padding: 1%;
    min-height: 20px;
    color: var(--secondary-color);
    background-color: var(--fourth-color);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}

#about-me{
    border: 5px solid var(--secondary-color);
    min-height: 130px;
    background-color: var(--main-color);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
#about-me p{
margin-top: 25px;
text-align: center;
color: var(--tertiary-color);
}
#image-3{
    margin-left: 685px;
    width:100px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#work{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--secondary-color);
    background-color: var(--main-color);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1%;
    border-radius: 10px;
    overflow: hidden;
}

#project-1{
    background-color: var(--main-color);
    border-radius: 7px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    width: 100%;
}
#image-1{
    border-radius: 7px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    margin-left: 150px;
    }
.other-projects{
    background-color: var(--main-color);
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    width: 50%;
}
.image-2{
    border-radius: 7px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    margin-left: 30px;
}

#contact-me{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: var(--main-color);
    color: var(--fourth-color);
    padding: 1%;
    min-height: 100px;
}
#contact-me ul{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    min-width: 270px;
}
#contact-me ul li a{
    color: var(--fourth-color);
}
#contact-me ul li{
    text-decoration: underline;
}



@media screen and (max-width: 790px){
    #header-main, #work{
        flex-direction: column;
    }
    #work{
        flex-direction: column;
        padding: 0%;
    }
    .other-projects{
        width: 100%
    }
    #image-1{
        margin-left: 0px;
    }
    .image-2{
        margin-left: 0px;
    }
    .project-headers{
        text-align: left;
    }
   
}



#work #project-1 :hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
    cursor: grab;
}
#work #project-1 a #image-1 :hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
    cursor: grab;
}
#work .other-projects :hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
    cursor: grab;
}
#work #project-1 .image-2 :hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
    cursor: grab;
}
.other-headers:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
    cursor: grab;
}
#header-main nav ul li a:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);
    cursor: grab;
}




/*@media screen and (max-width: 768px) {
    #header-main, #work{
      flex-direction: column;
    }
  
   
  }
  */