:root{
    --main-color: rgb(166, 162, 149);
    --secondary-color: rgb(125, 140, 139);
    --tertiary-color: rgb(0, 0, 0);
    --fourth-color:rgb(255, 239, 253);
    --font: Arial, Helvetica, sans-serif;
}

body{
    font-family: var(--font);
    font-size: 17px;
}

.header-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: var(--main-color);
    color: var(--fourth-color);
    padding: 1%;
    min-height: 150px;
}

.header-main nav ul{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    min-width: 270px;
}

.header-main nav ul li a{
    color: var(--fourth-color);
    font-size: 20px;
}

.header-main h1{
    font-size: 50px;
}

#about-me{
    border: 5px solid var(--secondary-color);
    min-height: 130px;
    background-color: var(--main-color);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.other-headers{
text-align: center;
padding: 1%;
margin-bottom: 10px;
min-height: 18px;
color: var(--secondary-color);
background-color: var(--fourth-color);
font-size: 25px;
font-weight: bold;

}
#about-me p{
margin-top: 25px;
text-align: center;
color: var(--tertiary-color);
}

#work{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--secondary-color);
    background-color: var(--main-color);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#project-1{
    border: 1px solid var(--secondary-color);
    background-color: var(--main-color);
    flex: 0 0 66.666%;
    padding: 1%;

}
.other-projects{
    border: 1px solid var(--secondary-color);
    background-color: var(--main-color);
    flex: 0 0 33.333%;
    padding: 1%;
}

#contact-me{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: var(--main-color);
    color: var(--fourth-color);
    padding: 1%;
    min-height: 100px;
}
#contact-me ul{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    min-width: 270px;
}
#last-header{
padding: 1%;
color: var(--secondary-color);
background-color: var(--fourth-color);
font-size: 25px;
font-weight: bold;
}
